body {
  width: 100vw;
  height: 100vh;
}

p {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
p:hover {
  transform: scale(1.3);
  transition: 0.5s ease-in-out;
}

.mainDiv {
  width: 40%;
  margin: 0 auto;
  margin-top: 5%;
  font-size: 25px;
}

.input-and-button {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 5%;
  border-radius: 5px;
  border: 2px solid black;
  background-color: antiquewhite;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7), 0 5px 15px rgba(0, 0, 0, 0.1);
}

.component {
  vertical-align: middle;
  border-radius: 5px;
  border: 2px solid black;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: antiquewhite;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7), 0 5px 15px rgba(0, 0, 0, 0.1);
  font-size: 25px;
  font-weight: 100;
  display: flex;
  justify-content: space-around;
  padding: 3%;
}

.delButton {
  font-size: medium;
  border-radius: 5px;
  width: 20%;
}
.delButton:hover {
  background-color: lightblue;
  cursor: pointer;
}

#input {
  width: 50%;
  height: auto;
  margin: 5%;
  border-radius: 5px;
  font-size: 25px;
}

#addItem {
  margin: 5%;
  border-radius: 5px;
  font-size: 25px;
  width: 25%;
}

#addItem:hover {
  background-color: lightblue;
  cursor: pointer;
}

#checkbox {
  height: 20px;
  width: 20px;
}

#github {
  font-size: 20px;
  color: black;
  margin-left: 5%;
}
@media (max-width: 600px) {
  .component {
    font-size: 20px;
  }

  p {
    font-size: 25px;
  }

  #input,
  #addItem,
  .mainDiv {
    font-size: 20px;
  }
}
